import React from "react";
import styles from "./{{pascalCase compName}}.module.scss";

const {{pascalCase compName}} = ({...props}) => {
  return <div className={styles.{{pascalCase compName}} }>
    {{compName}}
  </div>;
};

export default {{pascalCase compName}};
