import React from "react";
import styles from "./{{pascalCase pageName}}.module.scss";

const {{pascalCase pageName}} = ({...props}) => {
  return <div className={styles.{{pascalCase pageName}} }>
    {{pageName}}
  </div>;
};

export default {{pascalCase pageName}};
